.container-responseform {
  margin-top: 80px;
  margin-left: 25px;
}

.h2-responseform {
  font-size: 18px;
  text-decoration: underline 1px blue;
  color: rgba(4, 94, 219, 0.807);
  font-weight: 700;
}

h4 {
  font-size: 18px;
  color: rgba(4, 94, 219, 0.807);
  font-weight: 300;
}
